MONGO_USER=sammysammy
MONGO_PASS=dummydummy
MONGO_DB=shop
JWT_SECRET=gerg45yg34vdrbgt
MONGO_CONN_STRING=react-shop-documentdb-cluster.cluster-cdqpmldvmsos.ap-southeast-1.docdb.amazonaws.com:27017/?ssl=true&ssl_ca_certs=rds-combined-ca-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false