account_id = "088302454178"
project    = "toptal-task"
stage      = "staging"
region     = "eu-west-1"
domain     = "shop.devops.codes"

secrets = {
  MONGO_USER = "sammy"
  MONGO_PASS = "dummysammy"
  MONGO_DB   = "shop"
  JWT_SECRET = "gerg45yg34vdrbgt"
}