project     = "toptal-task"
environment = "global"
region      = "eu-west-1"
domain      = "shop.devops.codes"

secrets = {
  GRAYLOG_PASS               = "grayadmin"
  GRAYLOG_HTTP_EXTERNAL_URI  = "http://tools.shop.devops.codes:9000/"
  GF_SECURITY_ADMIN_PASSWORD = "grafadmin"
}